
	h1 {
		color: #3322ee; 
		text-align: center;
		font-size: 45px
	}
	
	#sunset {
		width: 100%;
		text-align: center;
	}

	img {
		width: 70%;
	}

	#hello {
		font-size: 36px;
		color: magenta;
		margin: 20px;
		background-color: lightblue;
		padding: 10px;
		text-align: center;
	}
	#love {
		font-size: 50px;
		background-color: lightpink;
		margin: 15px; 
		text-align: center;
	}
	.bg {
		background-color: lightyellow;
		width: 100%;
		height: 100%;
		padding: 25px;
		margin: 20px;

	}
	

